body
{
    color: deeppink;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}


#header1
{
    background: purple;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#header1 #tag1
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}